<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;z-index: 2; width: 100%;">
    <a class="navbar-brand btn btn-success mt-2" style="border-radius: 50%;" href="#">Administrator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-success ml-2 mt-2" style="border-radius: 50%;" href="/admin">List Products<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-success ml-4 mt-2" style="border-radius: 50%;" href="/admin/lishopes">List ShopeUser<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-success ml-4 mt-2" style="border-radius: 50%;" href="/admin/listnuser">List NormalUser<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-success ml-4 mt-2" style="border-radius: 50%;" href="/admin/accept">Accept Shope Request<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-success ml-4 mt-2" style="border-radius: 50%;" href="/admin/userorders">User Orders<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="dropdown">
                <button class="btn btn-outline-success text-dark dropdown-toggle mt-2" style="border-radius: 100%;"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item" href="/admin">Logout</a>
                </div>
            </div>
        </form>

    </div>
</nav>