<nav class="navbar navbar-expand-lg navbar-light"
    style="position: fixed;z-index: 2; width: 100%; background: transparent;">
    <a class="navbar-brand" href="/shope"><img src="/images/photo_2023-04-21_10-24-13.jpg"
            style="width: 41px; height: 44px; border-radius: 50%;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-success ml-sm-4 " href="/shope"
                    style="border-radius: 50%;   background: transparent; border: none; color: black;"
                    id="home"><b>Home</b> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-sm-4 btn btn-success" href="/shope/addpro"
                    style="border-radius: 50%;  background: transparent; border: none; color: black;" id="home"><b>Add
                        Products</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-sm-4 btn btn-outline-success" href="/shope/listpro"
                    style="border-radius: 50%;  background: transparent; border: none; color: rgb(11, 11, 11);"
                    id="home"><b>View Added Products</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-sm-4 btn btn-outline-success" href="/shope/userorder"
                    style="border-radius: 50%;  background: transparent; border: none; color: rgb(11, 11, 11);" id="home"><b>User Orders</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-sm-4 btn btn-outline-success" href="/shope/about"
                    style="border-radius: 50%;  background: transparent; border: none; color: rgb(11, 11, 11);"
                    id="home"><b>
                        About</b></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">

            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle ml-sm-4" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="border: none; color:black;">
                    {{#if suser}}
                    <b>{{suser.sname}}</b>
                    {{else}}
                    <b>Account</b>
                    {{/if}}
                </button>
                {{#if suser}}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/shope/logout">Logout</a>


                </div>
                {{else}}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/shope/login">Login</a>
                    <a class="dropdown-item" href="/shope/signup">Signup</a>

                </div>
                {{/if}}
            </div>

        </form>

    </div>
</nav>