<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5 p-5" style="width: 100%;">
            <div class="text-center">
                <img src="/images/photo_2023-04-21_10-24-13.jpg" class="p-5 img-fluid" alt="LOGO">
            </div>
            <div>
                <p
                    style="font-size: 25px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    ECOKART shop side functionality provides an empowering experience for sellers , enabling them to
                    manage their products,
                    efficiently and gain insights into consumer Purchase . shop owners can easily add, view ,edit, and
                    delete products
                    within a seamless interface. with the help of Ekocart platform , Show users can effortlessly add new
                    products ,
                    showcasing there offering to the community, shop owners have full control over there products
                    listings, allowing them to
                    view and manage there offering with ease. the platform provides a comprehensive view of each
                    products details, including
                    its environmental impact pricing and availability by using this platform the shop users can
                    conveniently edit product
                    information, and they have the accessibility to delete the products that does not match With their
                    sustainability goals.
                    Furthermore. Ekocart platform Provides access to consumer purchase list. Shop owners can view these
                    listed to gain
                    valuable insight into consumer preferences and trends. In summary, Ekocart's shop-side functionality
                    revolutionizes the
                    way sellers manage their products and interact with consumer purchase data. Through features like
                    adding, viewing,
                    editing, and deleting products, as well as accessing consumer purchase lists, Ekocart empowers shop
                    owners to make
                    informed decisions, optimize their inventory, and cater to the evolving needs of eco-minded
                    customers.
                </p>
            </div>
        </div>
    </div>
</div>