<div class="first" id="image">
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-md-12 mt-5 pt-5">
                    <h1 class="mt-5 pt-5 text-center text-light" style="text-shadow: 2px 2px #FF0000;font-size: 70px; font-family: serif;"><b>ECOKART</b></h1>
            </div>
            <div class="col-md-12">
                <p class=" text-center text-light" style="font-size: 30px;font-family: serif;">Discover the wonders of nature at EKOCART. Immerse yourself in the intricate web of life, surrounded
                    by breathtaking
                    beauty and diverse ecosystems. Join us in preserving and respecting nature for a sustainable future...
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    #image {
        background-image: url('/images/spbg2.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
</style>