<div class="first" id="image">
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">

        </div>
    </div>
</div>

<style>
     #image
    {
        background-image: url('/images/spbg2.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
</style>